body { 
  font-family: Arial;
  background: linear-gradient(135deg, #506fa3, #5b77ab); 
  display: flex;
  margin: 0;
  padding: 10px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}


.register-container {
  align-items: stretch; 
  gap: 40px; 
  max-width: 1000px; 
  width: 90%;
  display: flex;
  justify-content: center;
}


.image-part img {
  width: 800px; 
  padding: 10px 10px;
  display: flex;
  border-radius: 10px;
 
}

.form-part .container {
  background-color: #3a5f8f; 
  display: flex;
  flex-direction: column;
  padding-right: 55px ;
  padding-left: 30px ;
  border-radius: 20px;
  box-shadow: 0 10px 25px #0000004d;
  width: 400px;
  padding-bottom: 10px;
}

h1 {
  text-align: center;
  color: #e0f7fa; 
  margin-bottom: 25px;
}

label {
   color: #e0f7fa;
  font-weight: bold;
  display: block;
  margin-top: 10px;
    padding: 5px;
}

input {
  background-color: #e0f7fa;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #90caf9; 
  border-radius: 9px;
}

button {
  width: 100%;
  margin-top:20px;
  margin-left: 12px;
  background-color: #254974;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button:hover {
  background-color: #132133; 
}

.error {
  color: #ff5252; 
  text-align: center;
  margin-top: 10px;
}


@media (min-width: 0px) and ( max-width:600px) {
  .register-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

 .image-part img, 
.form-part .container {
  width: 90%;
   height: auto;
  object-fit: cover;
}

/* @media (min-width: 601px) and ( max-width:768px){
.register-container {
  align-items: stretch; 
  gap: 40px; 
  max-width: 1000px; 
  width: 90%;
  display: block;
  justify-content: center;
} */
}


