body{
    display: flex;
    flex-direction: row;
    margin:0;
    
}

.marked{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
    height: 100vh;
    background-color: rgba(165, 42, 42, 0.641);

}

.container{
    width: 80%;
    height: 100vh;
    background-color: #ddd;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.answers>*{
    padding :30px;
    border-radius: 20px;
    background-color: goldenrod;
    margin: 20px;
    width:40% ;
    color : white;
}

.submit-btn button{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom:0;
    background-color:green;
    font-weight: bold;
    color: white;

}

.timer{
   width: 100px;
   height: 5vh ;
   background-color: goldenrod;
   margin: auto;
   border-radius: 50%;
   text-align: center;
   padding-top: 15px;
}
#pre{
    display:none;
}
.question-marked{
    width: 150px;
    background-color: red;
    height: 30px;
}

.answers p{
    display: inline;
}