body{
    display: flex;
    flex-direction: row;
    margin:0;
    
}

.marked{
    width:20%;
    height: 100%;
    background-color: brown;
}

.container{
    width: 80%;
    height: 100%;
    background-color: #ddd;
}

.answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.answers>*{
    padding :30px;
    border-radius: 20px;
    background-color: goldenrod;
    margin: 30px;
    width:30% ;
}




