body {
  display: flex;
  flex-direction: row;
  margin: 0;
  font-family: Arial;
}

.marked {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  height: 100vh;
  background-color: #3d4e91;
  overflow-y: auto;
}

.marked > * {
  width: 90%;
  margin: 10px 0;
}
.container {
  width: 80%;
  height: 100vh;
  background-color: #e8ebf9;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
  color: #222840;
}

.question h1 {
  text-align: center;
  color: #22206d;
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers > * {
  padding: 15px;
  border-radius: 10px;
  background-color: #5d70b1;
  margin: 10px;
  width: 30%;
  color: white;
  font-size: 20px;
}

.answers > *:hover {
  background-color: #3d4e91;
}

.answers p {
  display: inline;
}
.question-marked {
  width: 100%;
  background-color:#242d4c;
  color: #959aaa;
  border-radius: 8px;
  height: 35px;
  border: none;
}
.submit-btn button{
    width: 100%;
    height: 30px;
    position: fixed;
    bottom:0;
    background-color:green;
    font-weight: bold;
    color: white;
}
#pre{
    display:none;
}

.timer-line {
  width: 100%;
  background-color: #9aaadf;
  height: 14px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
}

.action {
  background-color: #5d70b1;
  width: 100%;
  height: 100%;
  transition: width 1s linear;
}


.timer-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #1e2f57;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
  color: #283f62;
  background-color: #61859c;
}



