body {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #eef1fb;
}
.marked {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  height: 95vh;
   background-color: #2a3a6e;
  overflow-y: auto;
  border: #1b1f3b 5px solid;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
  
}

.marked > * {
  width: 90%;
  margin: 10px 0;
}
.container {
  width: 80%;
  height: 100vh;
 background-color: #eef1fb;
  border-radius: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
  color: #1b1f3b;
}

.question h1 {
  text-align: center;
  color:  #1e2f57;
  margin-bottom: 20px;
}

.answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answers > * {

  padding: 15px;
  border-radius: 10px;
   background-color: #3d4e91;
  margin: 10px;
  width: 30%;
  color: white;
  font-size: 20px;
}

.answers > *:has(input[name="xx"]:checked){
   background-color:white;
   color:#2a3a6e;
   border: #2a3a6e 2px solid;
  
}
.answers > *:hover {
   background-color:#ddd;
   color:#2a3a6e;
   border: #2a3a6e 2px solid;
   cursor: pointer;
}

.answers p {
  display: inline;
}
.question-marked {
  width: 100%;
 background-color:#5e8dbf;
  color: #d4d8eb;
  border-radius: 8px;
  height: 35px;
  border: none;
}
.question-marked:hover {
  background-color: rgba(157, 54, 54, 0.843);
}
.submit-btn button {
  width: 150px;
  height: 40px;
  display: block;
  background-color: #254974;
  font-weight: bold;
  color: white;
  border: none;
 border-radius: 10px;
 margin: 25px auto;
}
.submit-btn button:hover {
    background-color:#3d4e91;
}

#pre{
    display:none;
}


.moving {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin: 20px 40px 20px 0;
}
.moving button {
  background-color: #3d4e91;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.moving button:hover {
  background-color: #2a3a6e;
}
.timer-line {
  width: 100%;
  background-color: #9aaadf;
  height: 14px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 25px;
}

.action {
  background-color:#3d4e91;
  width: 100%;
  height: 100%;
  transition: width 1s linear;
}


.timer-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid #1e2f57;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
   color: #1e2f57;
 background-color: #9aaadf;
}


input[type="radio"]{
  appearance: none;
}

.moving .mark{
  background-color: #61131e;
 
}

.moving .mark:hover{
  background-color:rgba(157, 54, 54, 0.843);
  
}