body { 
 font-family: Arial;
  background: linear-gradient(135deg, #506fa3, #5b77ab); 
}

.Result-container {
 margin-top: 100px;
  display: flex;
  width: 100%;

} 

.image-part {
    width: 40%;
    margin: auto 5%;
    
  
}

.image-part img {

}
.result-details {
  flex-direction: column;
  display: flex;
  width: 40%;
  background-color: #d4d9ed;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #03081d; 
  justify-content: center;
  align-items: center;
  transition: transform 1s  , box-shadow 1s ;
}
.result-details:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

#score {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: conic-gradient(#204670fd calc(var(--s)*1%), #8e93af 0);
  font-weight: 700;
  font-size: 36px;
  color: #1d325a;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
 
  position: relative;
}
.result-details h2{
    color:#1d325a ;
}

